body{
	margin: 0;
	padding: 0;
	background: #27F3F3;
	font-family: pacifico;
}

.loginbox{
	width: 320px;
	height: 540px;
	background: #EDD920;
	color: #434C54;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
	border-radius: 20px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.stroller{
	width: 120px;
	height: 120px;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

h1{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 40px;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.loginbox p{
	margin: 0;
	padding: 0;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.loginbox input{
	width: 100%;
	margin-bottom: 10px;
}

.loginbox input[type="text"], input[type="password"], input[type="email"], input[type="number"] {
	border: none;
	border-bottom: 1px solid #434c54;
	background: transparent;
	outline: none;
	height: 20px;
	color: #434C54;
}

.loginbox input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	font-size: 15px;
	font-family: pacifico;
	border-radius: 10px;
	width: 30%;
	transition: 0.3s;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}
.google {
	color: #434c54;
}
.signup {
	background: #434c54;
	color: #fff;
}
.facebook{
	background: #3B5998;
	color: #fff;
}



.loginbox input[type="submit"]:hover {
	cursor: pointer;
	background: #27f3f3;
	color: #434c54;
}

.loginbox a{
	text-decoration: none;
	font-size: 18px;
	line-height: 20px;
	color: #434C54;
	margin: auto;
	transition: 0.3s;

}

.loginbox a:hover {
	color: #27f3f3;
	text-shadow: -1px 0 #434C54, 0 1px #434c54, 1px 0 #434c54, 0 -1px #434c54;
}

/* Animation */

.stroller{
	animation: stroller;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	transition-property: all;
	transition-duration: 0.2s;
}
@keyframes stroller{
	0%{
		top: -500%;
	}
	100%{
		top: -10%;
	}
}

.loginbox{
	animation: loginbox;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
@keyframes loginbox{
	0%{
		top: 200%;
	}
	100%{
		top: 50%;
	}
}

.stroller:hover{
	transform: rotateY(180deg);
}